CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=recap
CLICKHOUSE_DATABASE=default
SERVER_PORT=8080

# cards-service clients
USER_SERVICE_URL=http://localhost:8082
ANALYTICS_SERVICE_URL=http://localhost:8080

